<header class="Header">
  <div class="Header-about">
    <div class="Header-logo">
      <div class="Header-logo-flipper">
        <img class="Header-logo-front" src="{{ url_for( 'static', filename='img/logos/keith-riordan-logo-100.png')}}">
        <img class="Header-logo-back" src="{{ url_for( 'static', filename='img/logos/keith-riordan-logo-inverted-100.png')}}">
      </div>
    </div>

    <a class="Header-title" href="{{ url_for( 'foyer.home' )}}">
        <h1>Keith Riordan</h1>
    </a>
  </div>

  <nav class="Header-nav">
    <p class="Header-nav-tagline">Charlotte-based web developer</p>
    <a
      {% if request.path == '/' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.home' )}}">Projects</a>
    <a
      {% if request.path == '/resume' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.resume' )}}">Resume</a>
    <a
      {% if request.path == '/contact' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.contact' )}}">Contact</a>
  </nav>
</header>
