<header class="Header">
  <div class="Header-about">
    <div class="Header-logo">
      <div class="Header-logo-flipper">
        <img class="Header-logo-front" src="{{ url_for( 'static', filename='img/logos/keith-riordan-logo-100.png')}}">
        <img class="Header-logo-back" src="{{ url_for( 'static', filename='img/logos/keith-riordan-logo-inverted-100.png')}}">
      </div>
    </div>

    <h1 class="Header-title">Keith Riordan</h1>

    {% if not current_user.is_anonymous %}
      <div class="Header-user">
        <p>Hi, {{ current_user.username }}</p>
        <a href="{{ url_for( 'account.logout' ) }}">Logout</a>
      </div>
    {% endif %}
  </div>

  <p class="Header-tagline">Hudson Valley-based web developer</p>

  <nav class="Header-nav">
    <a
      {% if request.path == '/' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.home' )}}">Projects</a>
    <a
      {% if request.path == '/resume' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.resume' )}}">Resume</a>
    <a
      {% if request.path == '/contact' %}class="active"{% endif %}
      href="{{ url_for( 'foyer.contact' )}}">Contact</a>
    {% if not current_user.is_anonymous %}
      <a
        {% if request.path == '/jobwizard' %}class="active"{% endif %}
        href="{{ url_for( 'jobwizard.home' )}}">Jobwizard</a>
      <a
        {% if request.path == '/wishlist' %}class="active"{% endif %}
        href="{{ url_for( 'wishlist.wishlist_home' )}}">Wishlist</a>
    {% endif %}
  </nav>
</header>
