<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Keith Riordan - Full Stack Developer with experience in a wide range of industries and web technologies. Explore my projects and reach out for collaboration or employment opportunities." />
    <meta name="keywords" content="Keith Riordan, Full Stack Developer, web development, JavaScript, Python, portfolio, software engineer, web applications, front-end development, back-end development">
    <!-- Title -->
    <title>Keith Riordan | {% block title %}Portfolio{% endblock title %}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="img/icons/apple-touch-icon.png") }}" />
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="img/icons/favicon-32x32.png") }}" />
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="img/icons/favicon-16x16.png") }}" />
    <!-- Fonts/CSS -->
    <link
      href="https://fonts.googleapis.com/css?family=Fauna+One"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHE36BSYDX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZHE36BSYDX', {
        cookie_flags: 'max-age=7200;secure;samesite=none'
      });
    </script>
    <!-- Hotjar tag -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:85963,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>
    {% block header %}{% include "_header.html" %}{% endblock header %}
    
    <div class="container">{% block body %}{% endblock body %}</div>
    
    {% block footer %}{% include "_footer.html" %}{% endblock footer %}
    
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
