<div id="modal" class="Modal">
  <div class="Modal-content">
    <div class="Modal-body">
      <h2 class="Modal-title">{{ form_title }}</h2>
      <form class="Modal-form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form if not field.name == "csrf_token" %}
          {% if field.type == "TextAreaField" %}
            <div class="Modal-inputGroup">
              {{ field.label }}<br>
              {{ field(class_="Modal-textInput") }}
            </div>
          {% elif field.type == "FileField" %}
            <div class="Modal-inputGroup">
              {{ field.label }}<br>
              {{ field(class_="Modal-fileInput") }}
            </div>
          {% elif field.type == "StringField" %}
            <div class="Modal-inputGroup">
              {{ field.label }}<br>
              {{ field(class_="Modal-input") }}
            </div>
          {% elif field.type == "SubmitField" %}
          {% endif %}
        {% endfor %}
        <div class="Modal-actions">
          <button type="button" class="Modal-close" onclick="closeModal()">Cancel</button>
          {{ form.submit(class_="Modal-submit") }}
        </div>
      </form>
    </div>
  </div>
</div>
