{% extends 'base.html' %}

{% block body %}
<div class="Resume-container">

  <a class="Resume-pdfLink" download
    href="{{ url_for('static', filename='downloads/keith_riordan_resume.pdf') }}">
    Download Resume
  </a>

  <div class="Resume-block">
    <h2 class="Resume-header">Technical Skills</h2>
    <div class="Resume-columns">
      <div>
        <h3>Languages</h3>
        <p>JS, CSS, HTML, SQL, Python</p>
      </div>
      <div>
        <h3>Libs/Frameworks/Tools</h3>
        <p>Django, Flask, React, React Native, Angular, RxJS, Sass, Git, Heroku, AWS, Docker, WordPress, Agile</p>
      </div>
      <div>
        <h3>Databases</h3>
        <p>PostgreSQL</p>
      </div>
    </div>
  </div>

  <div class="Resume-block">
    <h2 class="Resume-header">Professional Experience</h2>
    <div class="Resume-columns">
      {% for job in jobs %}
        <div>
          <h3>{{ job.company_name }}</h3>
          <p class="Resume-jobtitle">{{ job.position_title }}</p>
          <p class="Resume-date">{{ job.start_date }} - {{ job.end_date }}</p>
          <ul class="Resume-description">
            {% for bullet in job.description %}
              <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="Resume-block">
    <h2 class="Resume-header">Education</h2>
    <div class="Resume-columns">
      <div>
        <h3>American University of Paris</h3>
        <p class="Resume-date">2007 - 2010</p>
        <p>International and Comparative Politics</p>
      </div>
      <div>
        <h3>NOLS</h3>
        <p class="Resume-date">2005</p>
        <p>Leadership and Wilderness Survival Skills</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
