.Form {
  max-width: 540px;
  padding: 20px;
  &-input,
  &-textInput {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  &-input {
    height: 40px;
    padding: 0 10px;
  }
  &-textInput {
    height: 100px;
    padding: 10px;
  }
  &-fileInput {
    margin-bottom: 20px;
  }
}
