.Home {
  &-social {
    margin-bottom: 20px;
    text-align: center;
    &-link {
      display: inline-block;
      margin: 20px 30px;
      vertical-align: middle;
    }
    &-img {
      width: 50px;
    }
  }

  &-projects {
    margin: 0 auto;
    max-width: 600px;
    &-block {
      margin-bottom: 20px;
      padding: 20px 0;
      p {
        margin-bottom: 10px;
      }
    }
    &-projectlink,
    &-companyname {
      display: inline-block;
      vertical-align: middle;
    }
    &-projectlink {
      margin-right: 10px
    }
    &-companyname {
      letter-spacing: .125rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-image {
      max-width: 64px;
    }
    &-sectiontitle {
      font-size: 1rem;
      margin-bottom: 0;
      padding-left: 20px;
      position: relative;
      &:before {
        content: '';
        height: 15px;
        left: 0px;
        position: absolute;
        top: 2px;
        width: 15px;
      }
      &.tools:before {
        background: url(/static/img/icons/wrench.svg) no-repeat;
      }
      &.summary:before {
        background: url(/static/img/icons/file.svg) no-repeat;
      }
    }
    &-githublink {
      text-decoration: underline;
    }
  }
}
