.Job {
    &-screenshot {
        max-width: 400px;
    }
    &-screenshotLink {
        display: inline-block;
        height: 400px;
        width: 400px;
    }
    &-screenshotZoom {
        border: 1px solid black;
        display: inline-block;
        height: 400px;
        width: 400px;
    }
}