.Jobwizard {
    &-title {
        margin: 20px;
    }
    &-joblist {
        padding: 20px;
    }
    &-joblisting {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
    }
    &-job {
        &-company {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px
        }
        &-link {
            display: block;
            margin-bottom: 5px;
        }
    }
    &-form {
        padding: 20px;
    }
    &-submit {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 4px;
        height: 40px;
        width: 100%;
    }
    @media screen and (min-width: 720px) {
        &-joblist {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }
        &-joblisting {
            border: 1px solid #ddd;
            flex-basis: 23%;
            margin-bottom: 20px;
            padding: 20px;
        }
        &-job {
            &-company {
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px
            }
            &-link {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}