
/* Resume*/
h4 {
  font-weight: bold;
}
.date {
  font-size: 0.8em;
}
.button {
  background-color: #5E7CF9;
}


/* Hover Effects */
.top-bar-section li:not(.has-form) a:not(.button):hover,
.app_logo:hover {
  background: #EEE;
}
#about a:hover,
button:hover,
button:focus,
.button:hover,
.button:focus {
  background: #DDD;
}



/* Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}


/* Wrapper */
.container {
  margin: auto;
  background: #FFF;
  max-width: 960px;
}


/* NavBar */
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  border-bottom: 1px solid #000;
}
.top-bar,
.top-bar.expanded .title-area,
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #FFF;
  color: black;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 17px 15px;
}
h1.replace {
  width: 150px;
  height: 150px;
  background: url(../img/me2.jpg);
  background-size: contain;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: -22px;
  left: -22px;
}


/* Hero */
#job_title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  height: 140px;
}
#job_title h1 {
  color: #000;
  font-family: "Abril Fatface", serif;
}


/* About */
#about div {
  text-align: center;
  margin: 15px 0;
  height: 50px;
}
#about a {
  color: #000;
  background: #EEE;
  padding: 16px 120px;
  border-radius: 4px;
  border: 1px solid #000;
  font-family: Alegreya;
}
#about .second-about {
  padding: 16px 115px;
}
#about .third-about {
  padding: 16px 129px;
}


/* Web Apps */
.app_logo {
  background: #DDD;
  margin-bottom: 40px;
  border-radius: 8px 0;
}
.app_logo h1 {
  text-align: center;
  color: #000;
  margin-bottom: 0;
  font-family: "Playfair Display";
}
.app-img {
  margin-top: 50px;
}


/* Footer */
footer {
  background: #AAA;
  padding-bottom: 5px;
}
footer p {
  text-align: left;
  max-width: 600px;
}
footer div {
  width: 55%;
  margin: auto;
  text-align: center;
}
.copyright {
  text-align: center;
}
.copyright h6 {
  font-size: 0.8em;
}

