{% extends "base.html" %}

{% block body %}
  <h1 class="Wishlist-title">My Wishlist</h1>
  <form class="Wishlist-form" method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.body.label }}<br>
        {{ form.body(class_="Wishlist-textInput") }}
    </div>
    <input type="submit" value="Submit">
  </form>
  {% if gifts is defined %}
    <section class="Wishlist-list">
      {% for item in gifts %}
        <div class="Wishlist-item">
          <img class="Wishlist-image" src="https://placehold.co/600x400" alt="">
          <p class="Wishlist-name">{{ item.name }}</p>
          <p class="Wishlist-description">{{ item.description }}</p>
        </div>
      {% endfor %}
    </section>
  {% else %}
    <p>No items in wishlist.</p>
  {% endif %}
{% endblock body %}
