{% extends "base.html" %}

{% block body %}
  <h1 class="Wishlist-title">My Wishlist</h1>
  <button id="openModal" class="Wishlist-modal" onclick="openModal()">+</button>
  {% include "modal.html" %}
  {% if gifts is defined %}
    <section class="Wishlist-list">
      {% for item in gifts %}
        <div class="Wishlist-item">
          {% if item.image_url %}
            <img class="Wishlist-image" src="{{ item.image_url }}" alt="{{ item.title }}">
          {% else %}
            <img class="Wishlist-image" src="{{ url_for('static', filename='img/icons/question.svg') }}" alt="{{ item.title }}">
          {% endif %}
          <p class="Wishlist-name">{{ item.title }}</p>
          <p class="Wishlist-description">{{ item.body }}</p>
        </div>
      {% endfor %}
    </section>
  {% else %}
    <p>No items in wishlist.</p>
  {% endif %}
{% endblock body %}
