/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  margin: auto;
  max-width: 960px;
  padding: 20px;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  line-height: inherit;
}
p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}
p,
ul,
li,
input,
textarea {
  font-family: 'Fauna One', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}
h1 {
  font-size: 2.125rem;
}
h2 {
  font-size: 1.6875rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}
em,
i {
  font-style: italic;
  line-height: inherit;
}
strong,
b {
  font-weight: bold;
  line-height: inherit;
}
small {
  font-size: 60%;
  line-height: inherit;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #910b0e;
}
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}
ul {
  margin-left: 1.1rem;
}
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  font-size: 1rem;
}
ol {
  margin-left: 1.4rem;
}
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75rem;
}
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
abbr {
  text-transform: none;
}
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #ddd;
}
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #555;
}
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}
@media only screen and (min-width: 640px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 2.3125rem;
  }
  h3 {
    font-size: 1.6875rem;
  }
  h4 {
    font-size: 1.4375rem;
  }
}
.Header {
  padding-top: 25px;
  text-align: center;
}
.Header-logo {
  height: 100px;
  margin: 0 auto;
  perspective: 1000px;
  width: 100px;
}
.Header-logo:hover .Header-logo-flipper {
  transform: rotateY(180deg);
}
.Header-logo-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.Header-logo-front,
.Header-logo-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}
.Header-logo-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.Header-logo-back {
  transform: rotateY(180deg);
}
.Header-nav {
  border-bottom: 1px solid #e9e9e9;
}
.Header-nav-tagline {
  border-bottom: 1px solid #e9e9e9;
  margin: 0;
  padding: 15px 0;
}
.Header-nav .active {
  color: #000;
  text-decoration: underline;
}
.Header-nav a {
  color: #333;
  display: inline-block;
  padding: 15px 20px;
}
.Header-nav a:hover {
  background-color: #eee;
}
.footer {
  margin: 50px 0;
  text-align: center;
}
.Home-social {
  margin-bottom: 20px;
  text-align: center;
}
.Home-social-link {
  display: inline-block;
  margin: 20px 30px;
  vertical-align: middle;
}
.Home-social-img {
  width: 50px;
}
.Home-projects {
  margin: 0 auto;
  max-width: 700px;
}
.Home-projects-block {
  margin-bottom: 20px;
  padding: 20px 0;
}
.Home-projects-block p {
  margin-bottom: 10px;
}
.Home-projects-projectlink,
.Home-projects-companyname {
  display: inline-block;
  vertical-align: middle;
}
.Home-projects-projectlink {
  margin-right: 10px;
}
.Home-projects-companyname {
  letter-spacing: 0.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.Home-projects-image {
  max-width: 64px;
}
.Home-projects-sectiontitle {
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
}
.Home-projects-sectiontitle:before {
  content: '';
  height: 15px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 15px;
}
.Home-projects-sectiontitle.tools:before {
  background: url(/static/img/icons/wrench.svg) no-repeat;
}
.Home-projects-sectiontitle.summary:before {
  background: url(/static/img/icons/file.svg) no-repeat;
}
.Home-projects-githublink {
  text-decoration: underline;
}
.Resume-container {
  margin: 0 auto;
  max-width: 700px;
}
.Resume-date {
  font-size: 0.8em;
}
.Resume-pdfLink {
  background-color: #222;
  border: 2px solid #222;
  border-radius: 2px;
  color: #fff;
  display: block;
  height: 60px;
  line-height: 58px;
  margin: 20px auto 40px;
  padding-left: 30px;
  position: relative;
  text-align: center;
  width: 270px;
}
.Resume-pdfLink:hover {
  background-color: #333;
}
.Resume-pdfLink:before {
  background: url(/static/img/icons/arrow-down-white.png) no-repeat;
  background-size: contain;
  content: '';
  height: 25px;
  left: 50px;
  position: absolute;
  top: 20px;
  width: 25px;
}
.Resume-block {
  margin-bottom: 40px;
}
.Resume-jobtitle {
  margin-bottom: 0;
}
.Bookshelf-container {
  padding: 20px;
  text-align: center;
}
.Bookshelf-disclaimer {
  display: block;
  margin-bottom: 20px;
}
.Bookshelf-toggleTakes {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin-top: 20px;
}
.Bookshelf-takes {
  height: 0;
  overflow: hidden;
  transition: all 1s;
}
.Bookshelf-takes.is-open {
  height: 100px;
}
.Contact {
  padding: 15px;
}
.Contact-title {
  text-align: center;
}
.Contact-form {
  margin: auto;
  max-width: 640px;
}
.Contact-inputGroup {
  margin-bottom: 10px;
}
.Contact-label {
  display: block;
  margin-bottom: 5px;
}
.Contact-input,
.Contact-submit {
  height: 2.3rem;
}
.Contact-textarea {
  height: 10rem;
}
.Contact-input,
.Contact-textarea {
  border: 1px solid #e9e9e9;
  padding-left: 5px;
  width: 100%;
}
.Contact-submit {
  background-color: #222;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
.Contact-submit:hover {
  background-color: #444;
}
.Jobwizard-container {
  margin: auto;
  max-width: 960px;
}
.Jobwizard-title {
  margin: 20px;
}
.Jobwizard-joblist {
  padding: 20px;
}
.Jobwizard-job {
  border: 1px solid #ddd;
  display: flex;
  margin-bottom: 20px;
}
.Jobwizard-joblink {
  display: block;
  flex-basis: 75%;
  padding: 20px;
}
.Jobwizard-jobcompany {
  color: #777;
  margin-bottom: 0;
}
.Jobwizard-joblistinglink {
  align-items: center;
  background-color: #e4e4e4;
  box-shadow: inset 4px 0px 2px 0px #ddd;
  color: #777;
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}
.Jobwizard-form {
  padding: 20px;
}
.Jobwizard-submit {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  height: 40px;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .Jobwizard-joblist {
    display: flex;
    flex-direction: column;
  }
  .Jobwizard-job {
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
}
.Job-screenshot {
  max-width: 400px;
}
.Job-screenshotLink {
  display: inline-block;
  height: 400px;
  width: 400px;
}
.Job-screenshotZoom {
  border: 1px solid black;
  display: inline-block;
  height: 400px;
  width: 400px;
}
.Media-youtubePlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  opacity: 0;
  transition: 1s all;
}
.Media-youtubeCardContainer {
  display: flex;
  flex-wrap: wrap;
}
.Media-youtubeCard {
  flex-basis: 33%;
  padding: 5px;
}
.Media-youtubeCard img {
  width: 100%;
}
