{% extends "base.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
    <form class="Login-form" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h2 style="margin-bottom: 1rem;">Forgot Password</h2>
        <p style="margin-bottom: 1.5rem; color: #666;">
            Enter your email address and we'll send you a link to reset your password.
        </p>
        {% include "_flash_messages.html" %}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class_="Login-input") }}
            {% for error in form.email.errors %}
                <span style="color: red; font-size: 0.875rem;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="Login-submit") }}</p>
        <p style="margin-top: 1rem;">
            <a href="{{ url_for('account.login') }}">Back to Login</a>
        </p>
    </form>
{% endblock body %}

