{% extends "base.html" %}

{% block body %}
    <form class="Login-form" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_="Login-input") }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_="Login-input") }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_="Login-submit") }}</p>
    </form>
{% endblock body %}
