{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block body %}
    <form class="Login-form" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h2 style="margin-bottom: 1rem;">Reset Password</h2>
        <p style="margin-bottom: 1.5rem; color: #666;">
            Enter your new password below.
        </p>
        {% include "_flash_messages.html" %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_="Login-input") }}
            {% for error in form.password.errors %}
                <span style="color: red; font-size: 0.875rem;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirm.label }}<br>
            {{ form.password_confirm(class_="Login-input") }}
            {% for error in form.password_confirm.errors %}
                <span style="color: red; font-size: 0.875rem;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="Login-submit") }}</p>
    </form>
{% endblock body %}

