{% extends 'base.html' %}

{% block body %}
<div class="Contact">
  <h2 class="Contact-title">Get In Touch</h2>
  {% if success %}
    <p>Thank you for your message. I'll be getting back to you shortly!</p>
  {% else %}
    <form class="Contact-form" action="{{ url_for('contact') }}" method="POST">
      {{ form.csrf_token }}

      <div class="Contact-inputGroup">
        {{ form.name.label }}
        {{ form.name(class_="Contact-input") }}
        {% for error in form.name.errors %}
          <small style="color: red;">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="Contact-inputGroup">
        {{ form.email.label }}
        {{ form.email(class_="Contact-input") }}
        {% for error in form.email.errors %}
          <small style="color: red;">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="Contact-inputGroup">
        {{ form.subject.label }}
        {{ form.subject(class_="Contact-input") }}
        {% for error in form.subject.errors %}
          <small style="color: red;">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="Contact-inputGroup">
        {{ form.message.label }}
        {{ form.message(class_="Contact-input") }}
        {% for error in form.message.errors %}
          <small style="color: red;">{{ error }}</small>
        {% endfor %}
      </div>

      {{ form.submit(class_="Contact-submit") }}
    </form>
  {% endif %}
</div>
{% endblock %}
