{% extends 'base.html' %}

{% block body %}
<!-- *************************** NAVIGATION **************************** -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1 class="replace"><a href="#">Keith Riordan</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">More</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#apps">Web Apps</a></li>
          <li><a href="resume.html">Resume</a></li>
        </ul>
      </section>
    </nav>
<!-- *************************** END NAVIGATION ***************************** -->

      <div class="container">

<!-- ****************************** HERO ******************************** -->
        <div class="row">
          <div id="job_title" class="large-12 columns">
            <h1>Web Developer!</h1>
          </div>
        </div>
<!-- ****************************** END HERO ****************************** -->


<!-- ******************************** ABOUT ****************************** -->
        <div id="about" class="row">
          <div class="large-4 columns">
            <a href="http://github.com/kriordan">GitHub</a>
          </div>
          <div class="large-4 columns">
            <a class="second-about" href="http://linkedin.com/pub/keith-riordan/12/9a1/b62/">LinkedIn</a>
          </div>
          <div class="large-4 columns">
            <a class="third-about" href="http://kriordan.github.io//">Blog</a>
          </div>
        </div>
<!-- *************************** END ABOUT ****************************** -->


<!-- ***************************** APPS ********************************* -->
      <div id="apps">
        <div class="row">
          <div class="large-12 large-centered columns app-img">
              <img src="{{ url_for('static', filename='img/hooray.jpg') }}">
          </div>
          <div class="small-12 small-centered columns app_logo">
            <a href="http://appapphooray.herokuapp.com" target="_blank"><h1>AppAppHooray!</h1></a>
          </div>
        </div>

        <div class="row app_img">
          <div class="large-12 large-centered columns">
              <img src="{{ url_for('static', filename='img/tentacles.jpg') }}">
          </div>
          <div class="small-12 small-centered columns app_logo">
            <a href="http://fathomless-caverns-5983.herokuapp.com/" target="_blank"><h1>TweetTweetHooray!</h1></a>
          </div>
        </div>
      </div>
<!-- ********************************** END APPS **************************** -->

    </div><!-- wrapper -->
    <footer>
      <div class="copyright">
          <h6>&copy; 2014 Keith Riordan</h6>
      </div>
    </footer>
{% endblock %}
