<header class="RanchHeader">
  <a href="{{ url_for('ranch.ranch_home') }}" class="RanchHeader-homeLink">
    <h1 class="RanchHeader-logo">The Ranch</h1>
  </a>
  <nav class="RanchHeader-nav">
    <ul class="RanchHeader-navlist">
      <li class="RanchHeader-navitem">
        <a href="{{ url_for('ranch.ranch_seen') }}" class="RanchHeader-navlink">Seen</a>
      </li>
      <li class="RanchHeader-navitem">
        <a href="#" class="RanchHeader-navlink">Heard</a>
      </li>
    </ul>
  </nav>
</header>