{% extends 'base.html' %}

{% block title %}Misty Mantis Ranch{% endblock %}

{% block header %}{% include '_ranch_header.html' %}{% endblock %}

{% block body %}
  <div class="RanchSeen">

    <h2 class="RanchSeen-header">~ Insert quote about photos ~</h2>

    <div class="Ranch-seenRoll">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
      <img src="http://via.placeholder.com/150x150" alt="" class="Ranch-seenImg">
    </div>

  </div>
{% endblock %}

{% block footer %}{% endblock %}