{% extends 'base.html' %}

{% block title %}{{ job.title }} - {{ job.company_name }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
  <h2 class="Job-title">{{ job.title }}</h2>
  <h3 class="Job-company">{{ job.company_name }}</h3>
  <a class="Job-sourcelink" href="{{ job.listing_url }}" target="_blank">original listing</a>
  <a class="Job-screenshotLink" href="https://jobwizard-test.s3.amazonaws.com/{{job.listing_image}}">screenshot</a>
{% endblock %}

{% block footer %}{% endblock %}