{% from "_form.html" import render_form with context %}
{% extends 'base.html' %}

{% block body %}
  <div class="JobList-container">
    <h1 class="Jobwizard-title">Jobwizard</h1>
    {{ render_form(form, action=url_for('jobwizard.create_job')) }}
    <div class="Jobwizard-joblist">
      {% for job in jobs %}
        <div class="Jobwizard-job">
          <a class="Jobwizard-joblink" href="{{ url_for('jobwizard.get_job', job_id = job.id) }}">
            <h4 class="Jobwizard-jobtitle">{{ job.title }}</h4>
            <p class="Jobwizard-jobcompany">{{ job.company_name }}</p>
          </a>
          <a class="Jobwizard-joblistinglink" href={{ job.listing_url }} target="_blank">
            <span>link</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
