{% extends 'base.html' %}
{% block body %}
    <section class="Login">
        <form class="Login-form" method="POST" action="/login">
            {{ form.csrf_token }}
            {{ form.email.label(class_="Login-label") }}
            {{ form.email(class_="Login-input") }}
            {{ form.password.label(class_="Login-label") }}
            {{ form.password(class_="Login-input") }}
            <button class="Login-submit" type="submit">Log In</button>
        </form>
    </section>
{% endblock %}
