.Header {
  padding-top: 25px;
  position: relative;
  text-align: center;
  &-logo {
    height: 100px;
    margin: 0 auto;
    perspective: 1000px;
    width: 100px;
    &:hover &-flipper {
      transform: rotateY(2160deg);
    }
    &-flipper {
      transition: 3s ease-in-out;
      transform-style: preserve-3d;
      position: relative;
    }
    &-front,
    &-back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
      width: 100px;
    }
    &-front {
      z-index: 2;
      transform: rotateY(0deg);
    }
    &-back {
      transform: rotateY(180deg);
    }
  }
  &-tagline {
    margin: 0;
    padding: 15px 0;
  }
  &-nav {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    .active {
      color: #000;
      text-decoration: underline;
    }
    a {
      color: #333;
      display: inline-block;
      padding: 15px 20px;
      &:hover {
          background-color: #eee;
      }
    }
  }
  &-user {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
