.Joblist {
    &-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 700px;
        padding: 15px;
    }
    &-title {
        margin: 20px 0;
        text-align: center;
    }
    &-joblist {
        padding: 20px;
    }
    &-job {
        border: 1px solid #ddd;
        display: flex;
        margin-bottom: 20px;
        &link {
            display: block;
            flex-basis: 75%;
            padding: 20px;
        }
        &company {
            color: #777;
            margin-bottom: 0;
        }
        &listinglink {
            align-items: center;
            background-color: #e4e4e4;
            box-shadow: inset 4px 0px 2px 0px #ddd;
            color: #777;
            display: flex;
            flex-basis: 25%;
            justify-content: center;
        }
    }
    &-form {
        margin: auto;
        max-width: 540px;
        padding: 20px;
    }
    &-inputGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &-input {
        height: 50px;
        margin: 5px 0 20px;
        padding: 0 10px;
    }
    &-submit {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 4px;
        height: 60px;
        margin-top: 60px;
        width: 100%;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    @media screen and (min-width: 720px) {
        &-joblist {
            display: flex;
            flex-direction: column;
        }
        &-job {
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
    }
}
